@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), local("MaterialIcons-Regular"), url("/src/fonts/material-design-icons/MaterialIcons-Regular.ttf") format("truetype"), url("/src/fonts/material-design-icons/MaterialIcons-Regular.woff2") format("woff2"), url("/src/fonts/material-design-icons/MaterialIcons-Regular.woff") format("woff"), url("/src/fonts/material-design-icons/MaterialIcons-Regular.eot");
  }
  .materialIcons2 {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    margin-right: 10px;
    align-items: center;
  }

  .btn {
    display: inline-block;
    font-size: 1rem;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #F8485E;
    color: #fff;
    padding: 0.375rem 0.75rem;
    margin-right: 0.5rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   margin: 1rem;
  }
  .btn:hover {
    color: black;
  }
  
  
    .btn:disabled, .btn[disabled] {
        background-color: silver;
        color: #fff;
    }
  
  a.btn[disabled] {
    pointer-events: none;
    color: #fff;
  }
  
    a.btn[disabled]:hover {
        pointer-events: none;
        color: #fff;
    }
  
  .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled]:active {
    cursor: default;
  }

  .SearchButton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    
    }

  .searchButtonToggle {
    padding: 5px;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius:  4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    height: 30px;
}
.tabla{
  background-color: #F8485E;
}

.customButton{
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px #999;
  margin-bottom: -1rem;
}
.searchInput:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff;
  outline: 0;
}
.searchInput2:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff;
  outline: 0;
}
.searchInput{
  background: white;
  box-shadow: none;
  border: 1px solid #ced4da;
  font-weight: 400;
  font-size: 11px;
  height: 30px;
  color: #495057;
  margin-bottom: 1rem;
}
.searchInput2{
  background: white;
  box-shadow: none;
  border: 1px solid #ced4da;
  font-weight: 400;
  font-size: 11px;
  height: 30px;
  width: 20rem;
  color: #495057;
  margin-bottom: 1rem;
}
.label{
  color: #000000;
  margin-bottom: 0.3rem;
  font-size: 11px;
}

.customButton:active {
  background-color: #444;
  box-shadow: #444;
  transform: translateY(2px);
}
.searchInput2 {
  width: 200px;
  padding: 8px;
}

.searchButtonToggle {
  padding: 8px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  background-color: white;
  max-height: 150px;
  overflow-y: auto;
  width: 230px;
  margin-top: -1rem;
  z-index: 1051;
}


.dropdown li {
  padding: 8px;
  cursor: pointer;

}

.dropdown li:hover {
  background-color: #f0f0f0;
  background-color: #5897fb;
  color: white;
}
